<nav>
    
        <a href="/" style="color:bisque">Home</a> | 
        <a href="/about">About</a> |  
        <a href="/blogs">Blogs</a> | 
        <a href="/create-blog">Create Blog </a>
    
</nav>